* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar_links {
    display: flex;
    column-gap: 20px;
}

.navbar_links a {
    text-decoration: none;
    color: #1d1d1d;
}

.navbar_links a:hover {
    text-decoration: underline;
}

.navbar_menu_toggle {
    display: none;
}

/*Side Navbar*/

.side_navbar {
    background-image: url("side_navbar_img.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1d232c;
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    left: -100%;
    padding: 20px;
    color: white;
    transition: 1s;
}

.side_navbar_link {
    margin-bottom: 30px;

}

.side_navbar_links a {
    text-decoration: none;
    color: white;
}

.side_navbar_links a:hover {
    text-decoration: underline;
}

/*Header*/
.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header_button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1d1d1d;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.service {
    padding: 20px;
}

.service_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service_container2 div {
    background-color: #F2F4F7;
    border-radius: 5px;
    padding: 10px;
}

.new_arrival {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new_arrival_container {
    position: relative;
    flex-basis: 20%;
}


.new_arrival_container button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: #1d1d1d;
    position: absolute;
    top: 66%;
    left: 30%;
    border-radius: 10px;
    border: none;
}

.new_arrival_container img {
    border-radius: 10px;
}

.most_wanted {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.most_wanted_container {
    position: relative;
    flex-basis: 20%;
}

.most_wanted_container button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: #1d1d1d;
    position: absolute;
    top: 66%;
    left: 30%;
    border-radius: 10px;
    border: none;
}

.most_wanted_container img {
    border-radius: 10px;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black;
    border-radius: 20px;
}

.news button {
    margin-top: 10px;
    color: #F2F4F7;
    background-color: #1d1d1d;
    border-radius: 10px;
    padding: 10px;
}

.footer {

    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    padding: 40px;
    background-color: #1d1d1d;
    color: white;
}

.product_section {
    margin-top: 20px;
}

.product_search {
    display: flex;
    border: solid black 2px;
    border-radius: 20px;
    width: 80%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: auto;
}

.product_search input {
    border: none;
    background-color: transparent;
    background-color: transparent;
    width: 100%;
}

.product_search input:focus {
    outline: none;
}

.product {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product_box {
    text-align: center;
    flex-basis: 20px;
}

.product_box img {
    border-radius: 10px;
}

.contact-form-container {
    margin-bottom: 25%;
    margin-top: 25%;
    margin-left: 30%;
    width: 40%;
    height: 50%;
    padding: 20px;
    background-color: #2c2f33;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.contact-form h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: left;
    margin-left: 0;
}

.contact-form label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    margin-left: 20%;
}

.contact-form input,
.contact-form textarea {
    width: 60%;
    margin-left: 20%;
    padding: 4%;
    margin-bottom: 4%;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;

}

.contact-form button {
    display: block;
    width: 50%;
    margin-left: 25%;
    padding: 10px;
    background-color: #7289da;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #5a73bd;
}

.contact_body {
    background-image: url("contactimg.JPG");
    background-repeat: no-repeat;
    background-size: cover;


}

/*Media Query*/

@media screen and (max-width:660px) {
    .navbar_menu_toggle {
        display: block;
    }

    .navbar_links {
        display: none;
    }

    .header_img {
        display: none;
    }

    .header h1 {
        font-size: larger;
    }

    .header p {
        font-style: italic;
        color: gray;
        font-size: medium;
    }

    .service_container {
        display: none;
    }

    .service_container2 {
        flex-direction: column;
    }
}